<div class="page-header">
  <h1>Editing event</h1>
</div>

<%= render 'form' %>
<br>
<%= link_to 'Show', @event, class: 'btn btn-default' %>
<%= link_to 'Back', events_path, class: 'btn btn-default' %>
